<footer class="footer" id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-brand">
               <a href="#" class="logo">
                 <ion-icon name="business-outline"></ion-icon>Hello Properties
               </a> 
               <p class="footer-text">
                 A great platform to buy, sell and rent your properties without any agent or commisions.
               </p>
            </div>
            <ul class="footer-list">
                <li>
                   <p class="footer-list-title">Company</p> 
                </li>
                <li>
                    <a href="" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>
                        <span class="span">About Us</span>
                    </a>
                </li>
                <li>
                    <a href="" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>
                        <span class="span">Services</span>
                    </a>
                </li>
                <li>
                    <a href="" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>
                        <span class="span">Pricing</span>
                    </a>
                </li>
                <li>
                    <a href="" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>
                        <span class="span">Blog</span>
                    </a>
                </li>
                <li>
                    <a href="" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>
                        <span class="span">Login</span>
                    </a>
                </li>
            </ul>
            <ul class="footer-list">
                <li>
                   <p class="footer-list-title">Useful Links</p> 
                </li>
                <li>
                    <a href="" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>
                        <span class="span">Terms of Services</span>
                    </a>
                </li>
                <li>
                    <a href="" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>
                        <span class="span">Privacy Policy</span>
                    </a>
                </li>
                <li>
                    <a href="" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>
                        <span class="span">Listing</span>
                    </a>
                </li>
                <li>
                    <a href="" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>
                        <span class="span">Contact</span>
                    </a>
                </li>
            </ul>
            <ul class="footer-list">
                <li>
                    <p class="footer-list-title">Contact Details</p>
                </li>
                <li class="footer-item">
                    <ion-icon name="location-outline"></ion-icon>
                    <address class="address">
                        C/54 Northwest Freeway,<br>
                        Suite 558,<br> 
                        Houston, USA 485
                        <a href="#" class="address-link">View on Google map</a>
                    </address>
                </li>
                <li class="footer-item">
                    <ion-icon name="mail-outline"></ion-icon>
                    <a href="mailto:contact@example.com" class="footer-link">contact@example.com</a>

                </li>
                <li class="footer-item">
                    <ion-icon name="call-outline"></ion-icon>
                    <a href="tel:+250 790-250-425" class="footer-link">+250 790-250-425</a>
                    
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="copyright">&copy; 2023 Hello Properties. All Right Reserved by <a href="#" class="copyright-link">Cedric</a></p>
            <ul class="social-list">
                <li>
                    <a href="" class="social-link">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="" class="social-link">
                        <ion-icon name="logo-instagram"></ion-icon>

                    </a>
                </li>
                <li>
                    <a href="" class="social-link">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="" class="social-link">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
